html, body {
    background-color: #061599;
    text-align: center;
    color: #A7F5FF;
    font-size: 18px;
}

img {
    max-width: 75%;
    width: 100%;
    box-shadow: rgb(4, 60, 109) 8px 8px;
    border-radius: 25px;
    margin: 5px;
}

a, strong {
    color: navy;
}

.container {
    position: relative;
    width: 100%;
    background-color: #0388A6;
    box-shadow: rgb(7, 22, 36) 8px 8px;
    border-radius: 25px;
    color: #A7F5FF;
    font-size: 18px;
    padding: 10px 30px;
    margin: 15px auto;
}

button {
    box-shadow: rgb(5, 57, 102) 4px 4px;
    margin: 10px;
    padding: 5px;
}
button:hover {
    box-shadow: rgb(16, 46, 75) 2px 2px;
}

#help {
    height: 150px;
    max-width: 150px;
    width: 100%;
    border-radius: 75px;
}
#help:hover {
    box-shadow: rgb(16, 46, 75) 3px 3px;
}
